html {
  background-color: #f2f2f2;
}

body {
  position: relative;
  width: 1200px;
  min-width: 968px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
/*  text-transform: uppercase;*/
  text-align: center;
}

a {
    text-decoration:none;
    color:black;
    
}
.site-navigation {
    width:auto;
    display:flex;
    background-color:aliceblue;
    flex-wrap:wrap;
    padding:0;
    margin:0;
    list-style: none;
    font-size: 21px;
    text-decoration:none;
}

.site-navigation {
    width:auto;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:25px 0;
    padding-left: 250px;
    list-style: none;
    font-size: 21px;
    text-decoration:none;
}

.main-header-logo {
    position:absolute;
    border: 2px solid #000;
    top:0;
    left:0;
}


.site-navigation li:nth-child(4n+1) {
/*    margin: 0 75px 0 0;*/
}

.site-navigation li:nth-child(4n+2) {
    margin: 0;
/*    margin-right:75px;*/
}

.site-navigation li:nth-child(4n+3) {
    margin: 0;
/*    margin-right:75px;*/
}

.site-navigation li:nth-child(4n+4) {
    margin: 0;
    margin-right:0;
    text-align: right;
}

.about-me {
    border:1px solid black;
    position:relative;
    clear: both;
    margin:0 auto;
    width:220px;
    margin-top:150px;
    font-size:20px;
}

.about-me::after {
    content:"";
    position: absolute;
    z-index:-2;
    top:8px;
    left:0;
    height:8px;
    width:220px;
    background-color:aqua;
}

.about-me:hover{    
    background-color:aqua;
}