.navigation__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
  font-size: 21px;
  text-decoration: none;
  align-items: flex-end;
  font-weight: bold;

  li:first-child {
    padding: 10px;
    background-color: #f1a3fa;
  }

  a {
    display: block;
    transition: transform 0.3s;

    &:hover {
      color: red;
      transform: scale(1.05);
    }

    &:active,
    &:focus {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .navigation__list {
    width: 100%;
    flex-direction: column;
    align-items: stretch;

    li:first-child {
      align-self: center;
    }

    li {
      padding-top: 5px;
    }
  }
}
